.gradient-custom {
    /* fallback for old browsers */
    background:rgb(85, 218, 153);

    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(61, 221, 101), rgb(144, 221, 173));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,  rgb(61, 221, 101), rgb(144, 221, 173)
    }

.btn-lg{
    text-aling: center;
}